# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [ ]:
# 1
num = {1,2,3,4,5,6,7,8,9,10}

In [ ]:
# 2
num = {1,2,3,4,5,6,7,8,9,10}
num.add(11)
num.remove(1)

print(num)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
# 3
num = {1,2,3,4,5}
num2 = {2,4}

union = num.union(num2)
print(union)
intersection = num.intersection(num2)
print(intersection)
difference = num.difference(num2)
print(difference)
symmetric_difference = num.symmetric_difference(num2)
print(symmetric_difference)

{1, 2, 3, 4, 5}
{2, 4}
{1, 3, 5}
{1, 3, 5}

In [ ]:
# 4
st = {x for x in range(1,11)}
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 5
even_set = {x for x in range(1,11) if x%2==0}

print(even_set)

{2, 4, 6, 8, 10}

In [ ]:
# 6
numbers = {4,4,4,5,5,5,6,6,7,7,73,3,3,3}

print(numbers)

{9, 2, 5, 1}

In [ ]:
# 7
set1 = {1,2,3,4,5}
set2 = {1,2,3}

sub = set2.issubset(set1)
super = set1.issuperset(set2)

print(sub)
print(super)

True
True

In [ ]:
## 8
froze = frozenset([1,2,3,4,5])

print(froze)
del st
del froze

frozenset({1, 2, 3, 4, 5})

In [ ]:
### 9 Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.
st = {1,2,3,4,5}
st = list(st)
st.append(6)
st = set(st)

print(st)

{1, 2, 3, 4, 5, 6}

In [ ]:
#11

set = {9,2,3,15,5,62,74,8,91,10}

for i in set:
    print(i)

2
3
5
8
9
74
10
15
91
62